{% block extra_css %}
<link href="{{ url_for('static', filename='css/gsap_css/clamp.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Módulo RESCUE encapsulado -->
<div class="rescue-7x9k-wrapper">
  <div class="rescue-7x9k-module">
    <section class="rescue-7x9k-hero">
          <div class="rescue-7x9k-heading">
            <div class="rescue-7x9k-pin">
              <h1 class="rescue-7x9k-title">
                <span class="rescue-7x9k-clamp">RESCUE
                  <svg class="rescue-7x9k-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 842.14 500">
                    <path class="rescue-7x9k-draw" d="M336.2,130.05C261.69,118,16.52,122,20.65,244.29c4.17,123,484.3,299.8,734.57,108.37,244-186.65-337.91-311-546.54-268.47" fill="none" stroke="#8486aa" stroke-miterlimit="10" stroke-width="8" />
                  </svg>
                </span>
              </h1>
            </div>
          </div>
          <div class="rescue-7x9k-images">
            <img class="rescue-7x9k-img" data-speed="clamp(1.4)" src='https://upload.wikimedia.org/wikipedia/commons/b/b8/Deerfire.jpg' alt=''>
            <img class="rescue-7x9k-img" data-speed="clamp(1.8)" src='https://media.cnn.com/api/v1/images/stellar/prod/cnne-1686833-inundaciones-texas-2024.jpg?c=16x9&q=h_833,w_1480,c_fill' alt=''>
            <img class="rescue-7x9k-img" data-speed="clamp(2.2)" src='https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic2780929.jpg?w=1900&h=1265' alt=''>
            <img class="rescue-7x9k-img" data-speed="clamp(1.5)" src='https://estaticos.elcolombiano.com/binrepository/848x565/34c0/780d565/none/11101/WODW/46386792_46386792_20241027182030.jpg' alt=''>
          </div>
        </section>
        <section class="rescue-7x9k-spacer"></section>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{{ url_for('static', filename='js/gsap_js/clamp.js') }}"></script>
{% endblock %}
