<div id="tunnel">
  <canvas class="experience"></canvas>
  <div class="vignette-radial"></div>
  
  <!-- Preload de imágenes para evitar el flash negro inicial -->
  <div style="position: absolute; left: -9999px; opacity: 0; pointer-events: none;">
    <img src="static/assets/img/espacio2.png" alt="preload" />
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68819/waveform-bump3.jpg" alt="preload" />
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68819/spikey.png" alt="preload" />
  </div>
</div>
