/* 
.fixed.top-4.right-4.z-50,
.notification,
.toast,
.toast-notification,
.popup-notification {
    z-index: 999999 !important;
}
.auth-notification,
.logout-notification {
    z-index: 99999 !important;
}

.dropdown,
.dropdown-menu,
.user-dropdown,
.settings-dropdown {
    z-index: 1060 !important; 
}

.confirmation-popup,
.confirm-dialog {
    z-index: 1070 !important; 
}


.alert-notification,
.system-alert,
.enhanced-notification {
    z-index: 99999 !important;
}

.hardware-notification {
    z-index: 99999 !important;
}

.empresa-notification {
    z-index: 99999 !important;
}
.usuario-notification {
    z-index: 99999 !important;
}

div[id^="notification-"],
div[class*="notification"],
div[class*="toast"] {
    z-index: 99999 !important;
}

div[class*="confirm"],
div[class*="dialog"] {
    z-index: 99999 !important;
}

.mini-modal,
.popup-modal {
    z-index: 1090 !important;
}

.tooltip,
[data-tooltip] {
    z-index: 1070 !important;
}

.overlay-notification {
    z-index: 1080 !important;
}

.backdrop-notification {
    z-index: 1079 !important; 
}


.z-max-override {
    z-index: 10002 !important; 
}

.debug-high-z {
    z-index: 99999 !important;
    background: rgba(255, 0, 0, 0.1) !important;
    border: 2px solid red !important;
}

@media (max-width: 768px) {
    .mobile-notification {
        z-index: 1080 !important;
        top: 4rem !important; 
    }
}


.notification-enter,
.notification-exit,
.popup-enter,
.popup-exit {
    z-index: 1080 !important;
}


.z-10 { z-index: 10 !important; }
.z-20 { z-index: 20 !important; }
.z-30 { z-index: 30 !important; }
.z-40 { z-index: 40 !important; }

.notification.z-50,
.toast.z-50,
.toast-notification.z-50,
.popup.z-50 {
    z-index: 99999 !important;
}


.fixed.top-4.right-4[style*="z-index: 1080"],
.fixed.top-4.right-4[style*="z-index:1080"],
.alert-notification[style*="z-index"] {
    z-index: 99999 !important;
}

.fixed.top-4.right-4.transform,
.fixed.top-4.right-4 > div[class*="bg-gradient"],
.fixed.top-4.right-4 > div[class*="bg-red-"],
.fixed.top-4.right-4 > div[class*="bg-green-"],
.fixed.top-4.right-4 > div[class*="bg-blue-"],
.fixed.top-4.right-4 > div[class*="bg-yellow-"] {
    z-index: 99999 !important;
}

[class*="notification"][style*="z-index"],
[id*="notification"][style*="z-index"],
[class*="alert-notification"][style*="z-index"],
[class*="toast"][style*="z-index"] {
    z-index: 99999 !important;
}

div.fixed.top-4.right-4.transform.transition-all,
div.alert-notification.fixed.top-4.right-4 {
    z-index: 99999 !important;
}


.fixed.top-4.right-4::before {
    content: "Z: 1080";
    position: absolute;
    top: -20px;
    right: 0;
    background: rgba(0, 255, 0, 0.8);
    color: black;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 2px;
    pointer-events: none;
} */
