/* ============ STICKY HEADER GLOBAL ============ */
.sticky-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10000000;
    font-family: 'Unbounded', sans-serif;
}










.sticky-header.with-indicator .scroll-indicator {
    transform: scaleX(1);
}
#loginbotton{
    pointer-events: painted;
}