/* Styles scoped to the tunnel module */
.tunnel-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.tunnel-section .experience,
.tunnel-section .vignette-radial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.tunnel-section .experience {
    z-index: 2;
}


.tunnel-section .vignette-radial {
    z-index: 11;
    pointer-events: none;
}

.tunnel-section .vignette-radial:after {
    pointer-events: none;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(circle, transparent 60%, black 150%);
}
  